<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660629417133-qs67odth498qjpb25ikgkv0709mpafe5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660629417133-qs67odth498qjpb25ikgkv0709mpafe5</string>
	<key>API_KEY</key>
	<string>AIzaSyAiBq2mLZtKYujY3xzlK2INdwhdO4IZPk4</string>
	<key>GCM_SENDER_ID</key>
	<string>660629417133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fblaApp22</string>
	<key>PROJECT_ID</key>
	<string>fbla-22</string>
	<key>STORAGE_BUCKET</key>
	<string>fbla-22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660629417133:ios:84aa2baa27580441692a24</string>
</dict>
</plist>